<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>Manejo Eventos VUE</title>
</head>

<body>
    <div id="app" class="container my-5">

        <h2 class="mb-3">Analizando eventos en VUE 3</h2>

        <!-- Eventos del ratón -->
        <div class="card mb-3">
            <div class="card-header">
                <h4 class="card-title">Eventos del mouse</h4>
            </div>
            <div class="card-body">
                <button class="btn btn-primary me-2" @click="registrarEvento('click')">Click</button>
                <button class="btn btn-secondary me-2" @dblclick="registrarEvento('dblclick')">Doble Click</button>
                <button class="btn btn-warning me-2" @contextmenu.prevent="registrarEvento('contextmenu(click derecho)')">Click Derecho</button>
                <button class="btn btn-danger" @mouseover="registrarEvento('mouseover')">Mouse Over</button>
            </div>
        </div>

        <!-- Eventos de teclado e input -->
        <div class="card mb-3">
            <div class="card-header">
                <h4 class="card-title">Eventos del teclado e Input</h4>
            </div>
            <div class="card-body">
                <input @input="registrarEventoInput" @focus="registrarEvento('focus input')" @blur="registrarEvento('blur input')" @keyup="registrarTecla" @keydown="registrarTecla" @keydown.enter="registrarTecla" type="text" name="texto" id="texto" placeholder="Escribe algo... " class="form-control">
            </div>
        </div>

        <!-- Formulario -->
        <div class="card mb-3">
            <div class="card-header">
                Formulario
            </div>
            <div class="card-body">
                <form action="" @submit.prevent="enviarFormulario">
                    <input type="text" class="form-control" placeholder="Escribe tu nombre y luego selecciona tu país..." @focus="registrarEvento('focus input formulario')" @keydown="registrarTecla" @keyup="registrarTecla" @input="registrarEventoInput" @blur="registrarEvento('blur input')" @keydown.ctrl.m.exact="seleccionarTodo">
                    <label for="pais">Selecciona tu país</label>
                    <select name="pais" id="pais" class="form-control mb-2" @v-model="pais" @change="eventoChange">
                        <option value="">Seleccione país</option>
                        <option value="Chile">Chile</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Brasil">Brasil</option>
                    </select>
                    <button class=" btn btn-success">Enviar</button>
                </form>
            </div>
        </div>

        <!-- Log de los eventos -->
         <div class="card">
            <div class="card-header">
                <h4 class="card-title">Registros de eventos</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li v-for="(evento, index) in eventos" :key="index" class="list-group-item">
                        {{evento}}
                    </li>
                </ul>
            </div>
         </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <script src="app.js"></script>


</body>

</html>