@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    font-size: 16px;

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #e0dada;
}

h1 {
    color: #2c0f72;
    text-align: center;
}

.container {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.container input,
.container label,
.container button {
    display: block;
    font-size: 1.5rem;
}

.container label {
    padding: 0.5rem 0;
}

.container input,
.container select {
    width: 100%;
    padding: 1rem;
}

.container button {
    margin: 1rem auto;
}

.container resultado {
    background-color: #ddd;
    padding: 1rem;
    display: block;
    width: 100%;
}

code {
    font-size: 2rem;
}