* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block-blue {
    width: 300px;
    height: 100px;
    padding: 10px;
    border: 1px solid #000000;
    background: linear-gradient(#dacc8f, rgb(98, 236, 34));
    color: white;
}

.block-red {
    width: 300px;
    height: 100px;
    padding: 10px;
    border: 1px solid #000000;
    background: linear-gradient(to right, #75a6f0, rgb(255, 0, 0));
    color: white;
}

header {
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color: #333;
}

header h1 {
    font-family: "roboto";
    font-size: 30px;
    color: white
}

footer {
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color: #333;
}

footer h1 {
    font-family: "roboto";
    font-size: 20px;
    color: white;
    opacity: 0.5;
}