* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
     width: 300px;
    height: 100px;
    padding: 10px;
}

.blue {
    border: 1px solid #000000;
    background: linear-gradient(#dacc8f, rgb(98, 236, 34));
    
}

.red {
    border: 1px solid #000000;
    background: linear-gradient(to right, #75a6f0, rgb(255, 0, 0));
}

.text-white {
    color: white;
}

.container {
    width: 100%;
    height: 100px;
    padding: 20px;
}

.dark {
    background-color: #333;
}

.primary {
    background-color: rgb(37, 55, 90);
}

h1 {
    font-family: "roboto";
    color: white;
    text-align: center;
}

h1, .h1-size {
    font-size: 40px;
}

h2, .h2-size {
    font-size: 30px;
}

h3, .h3-size {
    font-size: 20px;
}

.muted {
    opacity: 0.5;
}