* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye el padding y border en el ancho y alto total de los elementos */
}

.container {
    width: 1000px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 15px;
}

.header {
    min-height: 150px   ;
    background-color: green;
    margin-bottom: 20px;
}

.navbar {
    width: 300px;
    min-height: 400px;
    background-color: blue;
    display: inline-block;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*Ajustar componentes*/
    width: 650px;
    height: 400px;
    background-color: red;
    align-items: top;
    vertical-align: top;
    float: right;
    padding: 10px;
}

.article {
    width: 190px;
    background-color: yellow;
    height: 200px;
    margin: 10px;
}

.aside {
    background-color: blueviolet;
    height: 100px;
    width: 100%;
}

.footer {
    background-color: orange;
    width: 100%;
    height: 200px;
    margin-top: 15px;
}

