* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
}

.header--small {
    width: 75%;
    height: 100px;
    padding: 10px;
}

.header--dark {
    background-color: black;
    color: #fff;
}

.header--light {
    background-color: azure;
    color: #000;
}

.header__title {
    font-size: 30px;
}

.header__title--dark {
    color: black;
}

.header__title--light {
    color: azure
}

.header__text {
    color: azure;
}

.header__link {
    color: azure;
    text-decoration: none;
    padding-top: 10px;
}

.container {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #e0e0e0;
}

.container__link {
    color: black;
    text-decoration: none;
    text-align: center;
}