<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <!--CDN Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <!--CDN Bootstrap icons-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title>Ejercicio Practico 1</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand"
               href="#">
                <i class="bi bi-emoji-smile"></i> One Piece</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active"
                       aria-current="page"
                       href="#">Personajes</a>
                </div>
            </div>
        </div>
    </nav>
    <div id="app"
         class="container my-5 text-center">
        <!-- row-cols-3: SIEMPRE tenga 3 columnas x fila. g-3: gap entre columnas -->
        <!-- Responsivo: row-cols-1 row-cols-md-2 row-cols-lg-3: (movil: 1, tablet: 2, desktop: 3)-->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div v-if="personajes.length === 0"
                 class="col">
                <div class="alert alert-info"
                     role="alert">
                    No hay personajes disponibles.
                </div>
            </div>
            <div v-for="personaje in personajes"
                 :key="personaje.id"
                 class="col">
                <div class="card shadow mb-4">
                    <div class="card-header text-center">
                        <h2 class="card-title">{{ personaje.nombre }}</h2>
                    </div>
                    <div class="card-body text-center">
                        <p><strong>Apodo: </strong>{{ personaje.apodo }}</p>
                        <p><strong>Edad: </strong>{{ personaje.edad }}</p>
                        <!-- ?. optional chaining evita errores por null o undefined-->
                        <div v-if="personaje.fruta_del_diablo.tiene_fruta">
                            <p><strong>Tipo de fruta del diablo: </strong>
                                {{ personaje.fruta_del_diablo.nombre?.join(', ') }}</p>
                            <p><strong>Tipo: </strong>{{ personaje.fruta_del_diablo.tipo?.join(', ') }}</p>
                        </div>
                        <p v-else><strong>Fruta del diablo: </strong>No tiene fruta del diablo</p>
                        <div v-if="personaje.haki.length > 0">
                            <p><strong>Haki: </strong>
                                {{ personaje.haki.join(', ') }}</p>
                        </div>
                        <p v-else><strong>Haki: </strong>No tiene haki</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>

        <!--VUE CDN-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!--App JS-->
        <script src="app.js"></script>

</body>

</html>