* {
    margin: 0px;
    padding: 0px;
    /* Ancho y alto incluyen padding y border internamente */
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}

p {
    font-family: "Momo Signature", cursive;
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

button {
    background-color: blueviolet;
    font-size: 20px;
}

.col {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.row {
    padding: 10px;
    border: 3px solid blue;
    /* Limpiar floats */
    font-size: 0px;
}

/* 
    Media Queries 
    breakpoints
    Acercamiento con Mobile first 
    Generar una grilla de trabajo responsiva 
    La secciones de la grilla deben sumar 100% 
*/

/* Small devices 0px a 480px */
@media only screen and (max-width:480px) {
    .sm-5 {
        width: 100%;
    }

    .sm-4 {
        width: 80%;
    }

    .sm-3 {
        width: 60%;
    }

    .sm-2 {
        width: 40%;
    }
    
    .sm-1 {
        width: 20%;
    }

    .sm-0 {
        display: none;
    }

}

/* Medium devices 481px a 960px */
@media only screen and (min-width:481px) and (max-width:960px) {
    .md-4 {
        width: 100%;
    }

    .md-3 {
        width: 75%;
    }

    .md-2 {
        width: 50%;
    }

    .md-1 {
        width: 25%;
    }

    .md-0 {
        display: none;
    }
    
}

/* Large devices 961px a 1440px */
@media only screen and (min-width:961px) and (max-width:1440px) {
    .lg-3 {
        width: 100%;
    }

    .lg-2 {
        width: 66.66%;
    }

    .lg-1 {
        width: 33.33%;
    }

    .lg-0 {
        display: none;
    }
}

/* Extra large devices 1441px en adelante */
@media only screen and (min-width:1441px) {
    .xl-6 {
        width: 100%;
    }

    .xl-5 {
        width: 83%;
    }
    
    .xl-4 {
        width: 66%;
    }

    .xl-3 {
        width: 50%;
    }

    .xl-2 {
        width: 33%;
    }

    .xl-1 {
        width: 16%;
    }

    .xl-0 {
        display: none;
    }
}