/*
ID -> #identificador (unico en la página)
Class -> .nombre_clase (creado especificmannte para aplicar estilos a varios elementos)
*/

/* Variables CSS */
:root {
    --dark-color: #023047;
    --blue-color: #1e6091;
    --light-color: #e9d8a6;
    --red-color: #9e2a2b;
    --celeste-color: #e0fbfc;
    --green-color: #588157;
    --white-color: #ffffff;
}

/* Selector universal: aplica estilos a todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Font-family indica opciones de tipografía que se usan en caso de no tener la fuente deseada */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white-color);
}

h1, h2, h3, h4, h5, h6 {
  /* rgb, hex, hsl */
  color: rgb(99, 225, 23);
  color: #634817;
  color: hsl(33%, 66%, 9%);
  color: var(--red-color);
  font-size: 50px;
}

h3 {
  font-size: 20px;
  color: var(--blue-color);
}

p {
  color: var(--dark-color);
  font-size: 18px;
}

a {
    color: var(--green-color);
}

header {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 1rem;
}

/*
#subtitle {
  text-decoration: overline;
}

.subrayado:hover {
    text-decoration: underline;
    color: sandybrown;
}

#inicio {
  background-color: lightgray;
}*/
